li{
    list-style: none;
}
.content {
    width: 85%;
    margin: auto;
    /* border: 1px solid; */
    padding: 20px; 
    background-color: #dfe6e9;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-img{
    width: 200px;
    margin-bottom: 20px;

}

.left-bar{
    background-color: lightblue; 
    border-radius: 10px;

}
.card .obj{
    background-color: lightblue;
}

.edu{
    background-color: aliceblue;
    border-left: 5px solid gray;
}

.ex1{
    border-left:5px solid green;
    margin-left: 10px;
    padding: 5px;
    background-color: aliceblue;
}

/* assets */
/* 

light gray color --> #d1d1d1



*/